@import "~react-image-gallery/styles/css/image-gallery.css";

* {
    letter-spacing: normal;
    line-height: normal;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.9);
    margin: 10px;
}

h3 {
    margin: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.mainTextContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: 20px;
}

@media (max-width: 500px) {
    .mainTextContainer {
        margin-top: 70px;
    }
}

.countryDescription {
    color: white;
}

svg {
    width: 30px;
}

.date-1-2-10 {
    visibility: hidden;
    height: 0px;

    margin: 0px !important;
}

.info-1-2-14 {
    visibility: hidden;
    height: 0px;
    margin: 0px !important;
}

.container-1-2-1 {
    height: 150px;
    width: 200px;
}

.hr-1-2-15 {
    visibility: hidden;
    height: 0px;
    margin: 0px !important;
}

.left-1-2-4 {
    padding: 10px !important;
}


#popup-root {
    width: 400px;
}

.modal {
    font-size: 12px;
    min-width: 400px;
}

.modal > .header {
    min-width: 400px;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal > .content {
    width: 100%;
    height: 100%;
}

.modal-content {

    min-width: 400px !important;
    min-height: 300px !important;
    align-items: center;
    justify-content: center;
}

.modal > .content {
    min-width: 400px !important;
    padding: 10px 5px;
}

.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}


.current-d6-1-2-22 {
    font-size: 35px;
}

.container-d2-1-2-8 {
    position: absolute;
    left: 10px;
    top: 100px
}

.exchange-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;

    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    width: 110px;
    line-height: normal;

}

.exchange {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: calc(100% - 300px);
    column-gap: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 15px;


}

.map__container {
    width: 100vw;
}

.date-div {
    display: flex;
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    height: 100px;
    width: 80px;
    border-radius: 15px;
    position: absolute;
    top: 70px;
    left: 110px;
    background-color: #FFFFFF;

}

.clocks {
    background-color: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    left: 5px;

}

.dayOfWeek-div {
    border-radius: 15px 15px 0px 0px;
    background-color: red;
    height: 35px;
    color: white;
}

.day-div {
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 700;
}

.weather-div {
    letter-spacing: normal;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    height: 55px;
    width: 130px;
    border-radius: 15px;
    background-color: #61daf1;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    position: absolute;
    top: 70px;
    left: calc(100% - 140px);
    justify-content: space-between;
}

.weather-icon {
    height: 55px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    background-color: #61dafb;
    background-color: rgba(0, 0, 0, 0.2);
}

.map-container {
    width: 100%;
    height: 100%;
}

.main_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 5px;
    letter-spacing: normal;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.home-icon:hover {
    cursor: pointer;
}

footer {
    display: flex !important;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.main-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MuiToolbar-root {
    display: flex;
    justify-content: space-between;
}


.clear-icon {
    cursor: pointer;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    min-height: 64px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.login {
    margin-left: 15px;
}

.login:hover {
    cursor: pointer;
}

.results-row:hover {
    cursor: pointer;
    background-color: silver;
}

.MuiTableContainer-root {
    max-height: 300px;
}

body {
    min-width: 500px;
}

.modal-backdrop {
    height: 100%;
    width: 100%;
}

.MuiButton-root {
    margin-bottom: 10px !important;
}

.user-info:hover {
    cursor: pointer;
}

.MuiButton-root {
    border: 2px solid rgba(0, 0, 0, 0.8) !important;
}



